#!/bin/bash

watch_file "pyproject.toml" "pixi.toml" "pixi.lock"
if [[ -t 2 ]]; then export PIXI_COLOR="always"; fi
set +o nounset
eval "$(pixi shell-hook)"
set -o nounset
unset PIXI_COLOR

MLFLOW_TRACKING_URI="$(rbw get --field uris "MLflow" | head --lines="1")"
MLFLOW_TRACKING_USERNAME="$(rbw get --field username "MLflow")"
MLFLOW_TRACKING_PASSWORD="$(rbw get --field password "MLflow")"
export MLFLOW_TRACKING_PASSWORD
export MLFLOW_TRACKING_URI
export MLFLOW_TRACKING_USERNAME
