#!/bin/bash

source_up_if_exists

if [[ -f "pixi.lock" ]]; then
  args=()
  if [[ -t 2 ]]; then args+=(--color=always); fi
  eval "$(pixi shell-hook "${args[@]}")"
fi

MLFLOW_TRACKING_URI="$(rbw get --field uris "MLflow" | head --lines="1")"
MLFLOW_TRACKING_USERNAME="$(rbw get --field username "MLflow")"
MLFLOW_TRACKING_PASSWORD="$(rbw get --field password "MLflow")"
export MLFLOW_TRACKING_PASSWORD
export MLFLOW_TRACKING_URI
export MLFLOW_TRACKING_USERNAME
